# dependencies
node_modules/

# production
build/
dist/

# environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor files
.vscode/
.idea/

# macOS
.DS_Store

# windows
Thumbs.db

# cache
.cache/
.parcel-cache/

# next.js
.next/

# nuxt.js
.nuxt/

# vite
vite.svg

# coverage
coverage/

# temporary files
tmp/
temp/

# eslint cache
.eslintcache

# typescript
*.tsbuildinfo